
/* シャドー */
/* ボトムだけ */
#div_box_shadow_bottom{
	width: 1.6in;
	height: 1in;
	background: #fb3;
	box-shadow: 0 5px 4px -4px black;
	float: left;
	margin-left: 20px;
	padding: .5em;
}
/* 下と右 */
#div_box_shadow_on2{
	width: 1.6in;
	height: 1in;
	background: #fb3;
	box-shadow: 3px 3px 6px -3px black;
	float: left;
	margin-left: 20px;
	padding: .5em;
}
/* 左と右 */
#div_box_shadow_opposite{
	width: 1.6in;
	height: 1in;
	background: #fb3;
	box-shadow: 5px 0px 5px -5px black,
		   -5px 0px 5px -5px black;
	float: left;
	margin-left: 20px;
	padding: .5em;
}

/**
 * Irregular drop-shadows
 */
#irregular_shadow{
	clear: both;
}
#div_box_shadow_speech,
#div_box_shadow_dot,
#div_box_shadow_cutout,
#div_box_shadow_text{
	position: relative;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: bottom;
	box-sizing: border-box;
	width: 5.9em;
	height: 5.2em;
	margin: .6em;
	background: #fb3;
	/*box-shadow: .1em .1em .3em rgba(0,0,0,.5);*/
	-webkit-filter: drop-shadow(.1em .1em .1em rgba(0,0,0,.5));
	filter: drop-shadow(.1em .1em .1em rgba(0,0,0,.5));
	font: 200%/1.6 Baskerville, Palatino, serif;
	text-align: center;
}
/* 吹き出し */
#div_box_shadow_speech{
	border-radius: .3em;
	clear: both;
}
#div_box_shadow_speech::before {
	content: '';
	position: absolute;
	top: 1em;
	right: -.7em;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-left-color: #fb3;
	border-right-width: 0;
}
/* 点線 */
#div_box_shadow_dot{
	background: transparent;
	border: .3em dotted #fb3;
}
/* 角カット */
#div_box_shadow_cutout{
	border: .5em solid #58a;
	border-image: 1 url('data:image/svg+xml,\
	                     <svg xmlns="http://www.w3.org/2000/svg"\
		                 width="3" height="3" fill="%23fb3">\
		     	         <polygon points="0,1 1,0 2,0 3,1 3,2 2,3 1,3 0,2"/>\
		     	</svg>');
	background-clip: padding-box;
}
/* テキスト */
#div_box_shadow_text{
	background: transparent;
	color: deeppink;
	border: 2px solid;
	text-shadow: .1em .2em yellow;
	filter: drop-shadow(.05em .05em .1em gray);
}

